In [1]:
from db import *
connection=se_connecter()
cursor=connection.cursor()
cursor.execute("use TP_SQL")

In [2]:
print("")
executeRequete(connection,"""DROP FUNCTION IF EXISTS paire""",'*******Drop function')
executeRequete(connection,"""
CREATE FUNCTION paire(n INT)
    RETURNS INT DETERMINISTIC
BEGIN
    DECLARE bb INT;
    SET bb= (n%2);
    RETURN bb;
END;
""","*******Creation function")
executeRequete(connection,""" select paire(3)""","**********Utilisation d'une fonction")

*******Drop function
PAS de resultat pour cette requette
*******Creation function
PAS de resultat pour cette requette
**********Utilisation d'une fonction
(1,)

In [3]:
executeRequete(connection,"""DROP FUNCTION IF EXISTS dept_count""")
executeRequete(connection,"""
create function dept_count ( nd_dept int )
returns integer  READS SQL DATA 
begin 
    declare d_count integer;
    select count(*) into d_count from emp where emp.ND = nd_dept;
    return d_count ;
end;
""")
executeRequete(connection,"""select dept_count(10); """)

PAS de resultat pour cette requette

PAS de resultat pour cette requette

(2,)

In [4]:
print("Utilisation de cette fonction dans une requete")
executeRequete(connection,""" select ND,nom from dept where dept_count(ND)>3""")

Utilisation de cette fonction dans une requete

(20, 'Recherche')
(30, 'Vente')

In [ ]:
executeRequete(connection,"""DROP PROCEDURE IF EXISTS dept_count_proc""",'********drop procedure')
executeRequete(connection,"""
create PROCEDURE dept_count_proc ( in nd_dept int, out d_count integer )
begin 
    select count(*) into d_count from emp where emp.ND = nd_dept;
end;
""","******def procedure")
executeRequete(connection,"""declare dd integer;
""","*******Request ok")

In [28]:
connection.commit()
connection.close()